<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
         <servlet alias="/nagios.stats"
				class="biz.webgate.dominoext.nagios.Servlet"
				load-on-startup="true">
		</servlet>
   </extension>

</plugin>
